.color-primary {
	color: var(--primary);
}

.color-bg-primary {
	background-color: var(--primary);
}

.color-secondary {
	color: var(--secondary);
}

.color-bg-secondary {
	background-color: var(--secondary);
}

.color-neutral {
	color: var(--neutral);
}

.color-bg-neutral {
	background-color: var(--neutral);
}
